In [13]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [14]:
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb_2023"

db = create_engine(db_string)

#### Task 2
Based on information_schema, present how to explore the relationships between the tables:
    staff and country
    actor, language and film

In [15]:
querry = """
    SELECT column_name, data_type 
    FROM information_schema.columns 
    WHERE table_name = 'staff' AND table_schema = 'public';
"""
con = db.connect()

results = con.execute(text(querry)).fetchall()
print(results)

[('staff_id', 'integer'), ('first_name', 'character varying'), ('last_name', 'character varying'), ('address_id', 'smallint'), ('email', 'character varying'), ('store_id', 'smallint'), ('active', 'boolean'), ('username', 'character varying'), ('password', 'character varying'), ('last_update', 'timestamp without time zone'), ('picture', 'bytea')]

#### Task 3
How many categories of films are in the rental?

In [16]:
querry = """
    SELECT COUNT(category_id) 
    FROM category;
"""
con = db.connect()

results = con.execute(text(querry)).fetchall()
print(*results)

(16,)

#### Task 4
Display list of categories with limit 2.

In [17]:
querry = """
    SELECT DISTINCT name
    FROM category
    LIMIT 2;
"""
con = db.connect()

results = con.execute(text(querry)).fetchall()
print(results)

[('Family',), ('Games',)]

#### Task 5
Find the oldest and youngest film in rental.

In [18]:
querry = """
    SELECT (SELECT title FROM film ORDER BY release_year ASC LIMIT 1) AS oldest_film,(SELECT title FROM film ORDER BY release_year DESC LIMIT 1) AS newest_film;
"""
con = db.connect()

results = con.execute(text(querry)).fetchall()
print(*results)

('Chamber Italian', 'Chamber Italian')

#### Task 6
Find all actor with a name: Olympia, Julia, Ellen. How can you check correction of your query?

In [20]:
querry = """
    SELECT actor_id, first_name, last_name 
    FROM actor
    WHERE first_name IN ('Olympia', 'Julia', 'Ellen');
"""
con = db.connect()

results = con.execute(text(querry)).fetchall()
for row in results:
    print(row)

(27, 'Julia', 'Mcqueen')
(47, 'Julia', 'Barrymore')
(93, 'Ellen', 'Presley')
(171, 'Olympia', 'Pfeiffer')
(186, 'Julia', 'Zellweger')
(199, 'Julia', 'Fawcett')